# **Лабораторная работа №1. Первичный анализ набора данных (Pandas)**

## **Задание.**
<br>
Реализуйте первичный анализ данных о фильмах. Для этого используйте набор данных <b>Dataset1.csv</b>. При выполнении задания выполните следующее.
<br>
1. Cформулируйте три гипотезы и проверьте правильность своих предположений, подробно поясняя как в приведенном выше проекте.
<br>
Чтобы иметь возможность сравнивать фильмы разных лет, необходимо будет преобразовать валовую и бюджетную стоимость в реальные суммы в долларах с точки зрения покупательной способности 2016 года. Для этого используйте индекс потребительских цен (Consumer Price Index, CPI) с поправкой на инфляцию (https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/).
<br>
Посчитайте значения CPI за каждый год с 1913 по 2017 гг включительно. Используя <i>Калькулятор инфляции в США</i> в качестве источника и постройте DataFrame.
<br>
Пример кода представлен в файле <b>Задание.pdf</b>
Полученную таблицу, содержащую CPI, экспортируйте в файл формата *.csv с именем  <font color=blue>Lab1_Фамилия_CPI</font>, например, <font color=blue><i>Lab1_Ivanov_CPI.csv</i></font>
<br>
<font color=green><u>Самостоятельно изучите команду экспорта датафрейма в файл CSV</u></font>:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
<br><br>
2. Обработанный датафрейм экспортируйте в файл формата *.csv с именем  <font color=blue>Lab1_Фамилия_группа</font>, например, <font color=blue><i>Lab1_Ivanov_MO-221.csv</i></font>

## **Гипотезы**<br>
1. Чем больше бюджет, тем выше оценки фильма.<br>
2. У черно-белых фильмов в среднем бюджет меньше чем у цветных.<br>
3. Средний рейтинг германских фильмов ниже, чем у киргизских

## **Этап 1. Обзор данных**

In [84]:
import pandas as pd

In [85]:
df = pd.read_csv(f'C:/Users/AlinaZ/Notebooks/data/Dataset1.csv')

Выведем первые 10 строк датафрейма:

In [86]:
df.head (10)

,color,Director_Name,num_Critic_for_reviews,duration,director_Facebook_likes,actor_3_Facebook_likes,actor_2_name,Actor_1_Facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000;
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0;
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000;
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000;
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0;
5,Colour,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000;
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0;
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000;
8,Colour,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000;
9,Colour,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000;

Получим общую информацию о таблице:

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   color                       5025 non-null   object
 1   Director_Name               4872 non-null   object
 2   num_Critic_for_reviews      4927 non-null   float64
 3   duration                    4959 non-null   float64
 4   director_Facebook_likes     4872 non-null   float64
 5   actor_3_Facebook_likes      4953 non-null   float64
 6   actor_2_name                4963 non-null   object
 7   Actor_1_Facebook_likes      4968 non-null   float64
 8   gross                       4104 non-null   float64
 9   genres                      4974 non-null   object
 10  actor_1_name                4968 non-null   object
 11  movie_Title                 4974 non-null   object
 12  num_voted_users             4974 non-null   float64
 13   cast_total_facebook_likes  4974 non-null   float64
 14  actor_3_name                4953 non-null   object
 15  facenumber_in_poster        4961 non-null   float64
 16  plot_keywords               4827 non-null   object
 17  movie_imdb_link             4974 non-null   object
 18  num_user_for_reviews        4956 non-null   float64
 19  language                    4961 non-null   object
 20  country                     4971 non-null   object
 21  content_rating              4677 non-null   object
 22  budget                      4494 non-null   float64
 23  title_year                  4869 non-null   float64
 24  actor_2_facebook_likes      4963 non-null   float64
 25  imdb_score                  4974 non-null   float64
 26  aspect_ratio                4654 non-null   float64
 27  movie_facebook_likes;       4974 non-null   object
dtypes: float64(15), object(13)
memory usage: 1.1+ MB

Таблица содержит 28 столбцов, которые хранят разные типы данных (в основном object и float64).<br>
Мы видим несколько проблем:<br>
1. Некоторые названия столбцов написаны с прописной буквы, некоторые - со строчной.<br>
2. В некоторых именах есть пробелы.<br>
3. Есть пропуски в данных, т.к. количество в разных столбцах разное.

## **Этап 2. Предварительная обработка данных (Data preprocessing)**

### Стили заголовков

In [88]:
df.columns

Index(['color', 'Director_Name', 'num_Critic_for_reviews', 'duration',
       'director_Facebook_likes', 'actor_3_Facebook_likes', 'actor_2_name',
       'Actor_1_Facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_Title', 'num_voted_users', ' cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes;'],
      dtype='object')

In [89]:
renamed_columns = {}
for column in df.columns:
    renamed_columns[column] = column.lower().strip()
    
df = df.rename(columns = renamed_columns)

df = df.rename (columns = {'movie_facebook_likes;' : 'movie_facebook_likes'})

df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### Пропущенные значения

In [90]:
df.isna().sum()

color                         18
director_name                171
num_critic_for_reviews       116
duration                      84
director_facebook_likes      171
actor_3_facebook_likes        90
actor_2_name                  80
actor_1_facebook_likes        75
gross                        939
genres                        69
actor_1_name                  75
movie_title                   69
num_voted_users               69
cast_total_facebook_likes     69
actor_3_name                  90
facenumber_in_poster          82
plot_keywords                216
movie_imdb_link               69
num_user_for_reviews          87
language                      82
country                       72
content_rating               366
budget                       549
title_year                   174
actor_2_facebook_likes        80
imdb_score                    69
aspect_ratio                 389
movie_facebook_likes          69
dtype: int64

В строках с типом object вместо пропущенных значений впишу "unknown"

In [91]:
columns_to_replace_object =[
    'color',
    'director_name',
    'actor_2_name',
    'genres',
    'actor_1_name',
    'movie_title',
    'actor_3_name',
    'plot_keywords',
    'movie_imdb_link',
    'language',
    'country',
    'content_rating',
    'title_year',
    'movie_facebook_likes'
]

for row in columns_to_replace_object:
    df[row] = df[row].fillna('unknown')

В строках с типом float вместо пропусков запишу среднее по режисеру, если у режиссера одна работа то заполню нулем

In [92]:
columns_to_replace_float =[
    'num_critic_for_reviews', 
    'duration',
    'director_facebook_likes',
    'actor_3_facebook_likes',
    'actor_1_facebook_likes',
    'gross',
    'num_voted_users',
    'cast_total_facebook_likes',
    'facenumber_in_poster',
    'num_user_for_reviews',
    'budget',
    'actor_2_facebook_likes',
    'imdb_score',
    'aspect_ratio'
]

for column in columns_to_replace_float:
    group_by_directors=df.groupby("director_name")[column].transform("mean")
    df[column]=df[column].fillna(group_by_directors)

for column in columns_to_replace_float:
    df[column] = df[column].fillna(0)

In [93]:
df.isna().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

### Дубликаты

Удаление неявных дубликатов

In [94]:
def replace_wrong_color (wrong_color, correct_color):
    for wrong_color in wrong_color:
        df['color'] = df['color'].replace(wrong_color, correct_color)

In [95]:
duplicates = []
for color in df.color.unique ():
    if 'Color' in color or 'Colour' in color or 'color' in color:
        duplicates.append(color)
name = 'color'
replace_wrong_color(duplicates, name)

duplicates = []
for color in df.color.unique ():
    if 'black and white' in color or 'Black and White' in color:
        duplicates.append(color)
name = 'black and white'
replace_wrong_color(duplicates, name)

In [96]:
df.color.unique()

array(['color', 'unknown', 'black and white',
       ',Christopher Barnard,,22,0,,,5,,Comedy,Mathew Buck,"10,000 B.C.\xa0            ",6,5,,0,,http://www.imdb.com/title/tt1869849/?ref_=fn_tt_tt_1,,,,,,,,7.2,,0;'],
      dtype=object)

Некорректное значение имеет ссылку на определенный цветой фильм, значит можно это одно значение заменить на верное: 'color'.

In [97]:
replace_wrong_color([',Christopher Barnard,,22,0,,,5,,Comedy,Mathew Buck,"10,000 B.C.\xa0            ",6,5,,0,,http://www.imdb.com/title/tt1869849/?ref_=fn_tt_tt_1,,,,,,,,7.2,,0;'], 'color')

In [98]:
df.color.unique()

array(['color', 'unknown', 'black and white'], dtype=object)

Поиск и удаление явных дубликатов

In [99]:
df.duplicated().sum()

111

In [100]:
df = df.drop_duplicates().reset_index(drop=True)

df.duplicated().sum()

0

### Получение реальных значений валовой стоимости и бюджета

In [101]:
from bs4 import BeautifulSoup
import requests

In [102]:
from bs4 import BeautifulSoup
import requests

url="http://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/"

r=requests.get(url)
data=r.text
soup=BeautifulSoup(data, 'html.parser')

table=soup.find('table')
rows=table.tbody.findAll('tr')

years=[]
cpis=[]

for row in rows:
    year=row.findAll('td')[0].get_text()
    if year.isdigit() and int(year)<2017:
        years.append(int(year))
        cpis.append(float(row.findAll('td')[13].get_text()))

cpi_table=pd.DataFrame({
    "year":years,
    "avg_annual_cpi":cpis
})

cpi_table.head()

cpi_table.to_csv(r'C:/Users/AlinaZ/Notebooks/data/Lab1_Zadorozhnaya_CPI.ipynb.csv', index = False)

In [103]:
def get_real_value(nominal_amt,old_cpi,new_cpi):
    real_value=(nominal_amt*new_cpi)/old_cpi
    return real_value


CPI_2016=float(cpi_table[cpi_table['year']==2016]['avg_annual_cpi'])

real_domestic_gross=[]
real_budget_values=[]

for index,row in df.iterrows():
    gross=row['gross']
    budget=row['budget']
    year=row['title_year']
    cpi_series = cpi_table[cpi_table["year"] == year]["avg_annual_cpi"].values
    if len(cpi_series) > 0:
        cpi = cpi_series[0]
        real_gross = round(get_real_value(gross, cpi, CPI_2016))
        real_budget = round(get_real_value(budget, cpi, CPI_2016))
        real_domestic_gross.append(real_gross)
        real_budget_values.append(real_budget)
    else:
        real_domestic_gross.append(-1.0)
        real_budget_values.append(-1.0)
    
df['real_domestic_gross']=real_domestic_gross
df['real_budget']=real_budget_values

df.to_csv(r'C:/Users/AlinaZ/Notebooks/data/Lab-1_Zadorozhnaya_FIT221.ipynb.csv')

C:\Users\AlinaZ\AppData\Local\Temp\ipykernel_7372\2119110932.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  CPI_2016=float(cpi_table[cpi_table['year']==2016]['avg_annual_cpi'])

### Выводы.<br>
Мы столкнулись с тремя проблемами:<br>
1. ошибки в написании заголовков;<br>
2. пропущенные значения в строках;<br>
3. явные и неявные дупликаты;<br>
4. неточность данных (сумма доларов).

Ошибки исправили. Пропуски строкового типа заполнили "unknown", а численного - средним значением по режиссеру. Все дупликаты нашли, неявные исправили, явные удалили.

## **Этап 3. Проверка гипотез**

### ***Гипотеза 1. Чем больше бюджет, тем выше оценки фильма.***

In [104]:
df["budget"].corr(df["imdb_score"])

0.02771002426602772

Корреляция очень мала, близка к нулю, значит между бюджетом и оценками фильма нет никакой взаимосвязи.<br>

**Вывод:** гипотеза 1 не подтвердилась

### ***Гипотеза 2. У черно-белых фильмов в среднем бюджет меньше чем у цветных.***

In [105]:
df_hypothesis_2 = pd.DataFrame(df.groupby('color')['budget'].median()).sort_values(by='budget', ascending=False)

df_hypothesis_2.head(10)

                     budget
color
color            18000000.0
unknown           6000000.0
black and white   4650000.0

18000000 > 3775000<br>
**Вывод:** гипотеза 2 подтвердилась

### ***Гипотеза 3. Средний рейтинг германских фильмов ниже, чем у киргизских.***

In [106]:
df_hypothesis_2 = pd.DataFrame(df.groupby('country')['imdb_score'].median()).sort_values(by='imdb_score', ascending=False)

df_hypothesis_2.head(50)

                      imdb_score
country
Kyrgyzstan              8.700000
Libya                   8.400000
United Arab Emirates    8.200000
Egypt                   8.100000
Soviet Union            8.100000
Iran                    7.950000
Sweden                  7.750000
Brazil                  7.700000
Indonesia               7.600000
unknown                 7.566667
Argentina               7.550000
Cameroon                7.500000
Colombia                7.500000
Israel                  7.450000
West Germany            7.400000
Poland                  7.400000
Afghanistan             7.400000
Kenya                   7.400000
New Zealand             7.300000
Denmark                 7.300000
Panama                  7.200000
Finland                 7.200000
Czech Republic          7.100000
Netherlands             7.100000
UK                      7.000000
Spain                   7.000000
South Korea             7.000000
Greece                  7.000000
Pakistan                7.000000
Japan                   6.950000
Chile                   6.900000
Dominican Republic      6.900000
Italy                   6.900000
India                   6.900000
China                   6.900000
Iceland                 6.900000
Norway                  6.850000
Mexico                  6.800000
Ireland                 6.750000
France                  6.700000
Hong Kong               6.700000
Romania                 6.500000
Australia               6.500000
USA                     6.500000
Hungary                 6.450000
Taiwan                  6.400000
Germany                 6.400000
Slovenia                6.400000
Canada                  6.300000
Official site           6.300000


Киргизстан имеет самый высокий рейтинг<br>
**Вывод:** гипотеза 3 не подтвердилась.